<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link href="/css/unite.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="浩方恒科 统一登录认证平台">
  <meta name="author" content="lijiajia3515@gmail.com">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>统一登录认证平台</title>
</head>
<body>
<div class="nav_shop">
  <div class="login_beij_top">
    <div class="login_user" id="normalLogin">
      <span>账户登录</span>
    </div>
    <div class="login_user" id="dynamicLogin">
      <span>手机登录</span>
    </div>
  </div>

  <div class="login_cont" style="display: none;">
    <div class="tab_content" style="border:0px;">

      <form action="/login" method="post" id="fm1">

        <input type="hidden" name="lt" value="LT-173198-x7RkjiX7zd57cK9ElsKeoIo34Pe0uk-cas.test.com">
        <input type="hidden" name="execution" value="e3s1">
        <input type="hidden" name="_eventId" value="submit">
        <input type="hidden" name="loginUrl" id="loginUrl" value="https://passport.szlcsc.com/login">


        <input type="hidden" id="afs_n_afsId" name="afsId">
        <input type="hidden" id="afs_n_sig" name="sig">
        <input type="hidden" id="afs_n_token" name="token">
        <input type="hidden" name="scene" value="login">


        <input type="hidden" name="loginFromType" value="shop">

        <input type="hidden" id="showCheckCode" name="showCheckCodeVal" value="false">


        <input type="hidden" name="pwdSource" id="normalLoginType" value="">

        <div class="new_login" style="margin-top:30px;">
          <span class="new_login_img"><img src="/images/n_login18.png"></span>
          <input style="width: 278px;" type="text" id="username" name="username" placeholder="客户编号/手机号码/邮箱" value="">
        </div>

        <div class="new_login">
          <span class="new_login_img"><img src="/images/n_login12.jpg"></span>
          <input type="hidden" id="passwordMd5" name="password">
          <input style="width: 278px;" type="password" id="password" placeholder="请输入密码"
                 onchange="$('#normalLoginType').val('');" value="">
        </div>


        <div class="x_land" style="font-size:13px;">
          <input name="rememberPwd" id="rememberPwd" type="checkbox" checked="" value="yes">
          <label for="rememberPwd">自动登录</label>
        </div>

        <div class="x_land2" style="padding-top: 0px;">
          <input type="button" onclick="checkNormalLogin()" value="登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录">
        </div>
      </form>

      <div class="get_back">
        <table border="0" width="100%">
          <tbody>
          <tr>
            <td align="right">
              <a style="margin-right: 15px;" href="/backpwd">找回密码</a>
              <a href="/register">免费注册</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="login_cont" style="display: block;">
    暂未实现
  </div>


  <div class="login_cont" style="display: none;">
    暂未实现
  </div>

  <div class="login_beij_bottom"></div>
</div>
</body>
</html>
